/*styling.css*/
/*Style body by adding background image and set it to cover, add font-family*/
body{
  font-family: Arvo, serif;
  background: url(images/5e1ba5370dc603dac2f21ef5f9d3454a--black-bookshelf-bookshelves.jpg);
  background-attachment: inherit;
  padding-top: 70px;
}
/*Style brand*/
.logo{
  height: 45px;
}
/*Style navigation bar*/
.nav li{
  color: #fff;
  font-size: 17px;
  margin-right: 35px;
  padding: 10px 0;
}
.nav li:hover{
  border-bottom: 1px solid #00FFB8;
  cursor: pointer;
}
.active {
  border-bottom: 1px solid #00FFB8;
  cursor: pointer;
}
/*Style footer*/
.footer{
  background-color:black;
  color: white;
  font-size: 15px;
  padding: 10px 0;
}
/*Style jumbotron*/
.jumbotron{
  background: transparent;
  padding: 100px;
  margin: 20px;
  height: auto;
  color: white;
}
